.DefaultHide {
  background: rgb(247,247,247);
  position: absolute;
  top:0px;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;
  overflow: scroll;
  height: 100%;
  width: 0px;
  right: -100%;

}
.DefaultHide.is-show {
  padding: 0px 8px 8px 8px;
  top: 0px;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  right: 0px;
  -webkit-transition: right .5s ease-in-out;
  transition: right .5s ease-in-out;
  z-index: 10;

}
.DefaultHide-topControl {
  text-align: center;
}
.DefaultHide-button {
  background: none;
  border: 1px solid gray;
  margin: 5px 0px;
}
.DefaultHide-button:hover {
  color: white;
  border: 1px solid  #C5AD71;
  background: #C5AD71;
}